/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1281px) {
    .container {
        min-width: 1200px;
        max-width: 1400px;
    }
    section.quick-shop1 img {
        min-width: 100%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        left: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        backface-visibility: hidden;
        z-index: 99;
    }
    nav .accordion-menu {
        padding: 26px 15px 26px 15px;
    }
    nav .accordion-menu {
        position: initial;
    }
    nav.navbar .navbar-nav {
        margin: 0;
        padding: 0;
        background-color: rgba(23, 23, 23, 0.95);
        padding-right: 1px;
        float: left!important;
        width: 100%;
    }
    nav.navbar .navbar-nav li {
        display: block;
        clear: both;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        border-top: 0;
    }
    .navbar-nav li > a, nav.navbar.navbar-default ul.nav > li > a {
        margin: 0;
        padding: 13px 15px 13px;
        color: #c0b5b5;
        display: block;
        line-height: normal;
        text-align: left;
    }
    header.sticky nav.navbar .navbar-nav > li > a.active{
        color: rgba(255,255,255,0.6);
    }
    header.sticky nav ul.nav > li > a:hover {
        color: #c0b5b5;
    }
    header.sticky nav ul.nav > li.dropdown > div.dropdown-menu {
        background-color: rgba(0,0,0,0.9);
    }
    header.sticky nav ul.nav > li.dropdown > div.dropdown-menu > a{
        color: rgba(255,255,255,0.7);
    }
    header nav ul.nav > li.dropdown > div.dropdown-menu > a {
        border-bottom: solid 1px #565656;
        padding: 7px 0px 7px 30px;
    }
    header nav ul.nav > li.dropdown > div.dropdown-menu > a:last-child {
        border-bottom: none;
    }
    header.sticky nav ul.nav > li.dropdown > div.dropdown-menu > a {
        border-bottom: solid 1px #565656;
        padding: 7px 0px 7px 30px;
    }
    header.sticky nav ul.nav > li.dropdown > div.dropdown-menu > a:last-child {
        border-bottom: none;
    }

    .best-selling.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
        float: left;
        clear: both;
        margin: 0 0 2.992em;
    }
    section.info .contact_header {
        border: 1px solid #ccc;
        margin: 0px -10px;
        padding: 20px;
        text-align: center;
    }
    .footer {
        padding: 25px 0;
    }
    .footer img {
        margin-bottom: 15px;
    }
    .footer_height {
        height: auto;
        /* margin-bottom: 25px; */
        margin: 15px 15px;
        text-align: center;
    }
    .footer_height ul li a {
        text-align: center;
    }
    .footer h4 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .footer ul li {
        margin-bottom: 0;
    }
    .footer ul li a {
        font-size: 16px;
        line-height: 15px;
    }
    .footer_height:last-child {
        margin-bottom: 0;
    }
    .footer p {
        font-size: 16px;
    }
    .footer button {
        font-size: 16px;
        padding: 6px 16px;
    }
    .footer p {
        padding-right: 0;
    }
    .footer i {
        font-size: 20px;
        /* margin-left: 20px; */
        margin-right: 20px;
    }
    /* .brands .owl-carousel .owl-item img {
        width: 100%;
    } */
    .customer_pod .relative-carousal {
        position: relative;
        border: 1px solid rgb(209, 209, 209);
        padding: 30px 25px;
        margin-top: 110px;
    }
    .customer_pod .carousel img.img-responsive {
        width: 40%;
        position: absolute;
        border-radius: 70px;
        transform: translate(-52%, -90%);
    }
    .hero_carousal ul#navbarToggleExternalContent {
        margin-bottom: 25px;
    }
    section.quick-shop1 img {
        min-width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    div#carouselExampleIndicators .carousel-inner.d-block {
        margin-top: 15px;
    }

    .quick-shop .row:last-child {
        margin-top: 0px;
    }
    .quick-shop img {
        /* flex: 1; */
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 0px;
    }
    .best-product .rhs {
        margin-top: 30px;
    }
}
@media screen and (max-height: 320px) {
    nav.navbar.bootsnav.no-full .navbar-collapse {
        max-height: 240px;
    }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}